In [1]:
import pandas as pd

In [3]:
file_path = "./Resources/Coal_Mines.csv"
coal_df = pd.read_csv(file_path)
coal_df.head(5)

,X,Y,FID,year_,MSHA_ID,name,type_,mstafips,state,county,mctyfips,lat,lon,unit,tot_prod,notes
0,-87.278611,33.706666,1,2020,100347,Choctaw Mine,Surface,1,Alabama,Walker,127,33.706666,-87.278611,short tons,"217,646",NaN
1,-87.203056,33.696389,2,2020,100627,Flat Top Mine,Surface,1,Alabama,Jefferson,73,33.696389,-87.203056,short tons,"239,590",NaN
2,-87.138889,33.442222,3,2020,100851,Oak Grove Mine,Underground,1,Alabama,Jefferson,73,33.442222,-87.138889,short tons,"1,608,068",NaN
3,-87.331389,33.328611,4,2020,101247,No 4 Mine,Underground,1,Alabama,Tuscaloosa,125,33.328611,-87.331389,short tons,"2,156,095",NaN
4,-87.213611,33.374167,5,2020,101401,No 7 Mine,Underground,1,Alabama,Jefferson,73,33.374167,-87.213611,short tons,"5,708,153",NaN