In [3]:
# Import dependencies
import pandas as pd

In [4]:
# Read in the coal dataframe
file_path = "./Resources/processed_Coal_Mines.csv"
coal_df = pd.read_csv(file_path)

# View all columns for dataframes
pd.set_option('display.max_columns', None)

# View the dataframe
coal_df.head(5)

               State&County  Surface_Mines  Underground_Mines
0  Pennsylvania, Clearfield             22                2.0
1  Pennsylvania, Schuylkill             22                5.0
2    Pennsylvania, Somerset             13                5.0
3   West Virginia, Mcdowell             13               12.0
4            Kentucky, Pike             13               14.0

In [5]:
# This dataset is for 2019 but is from the 2021 release of PLACES
# https://chronicdata.cdc.gov/500-Cities-Places/PLACES-Local-Data-for-Better-Health-County-Data-20/swc5-untb/data

# Load in PLACES dataset filtered for COPD
file_path = "Resources/processed_PLACES_COPD.csv"
copd_df = pd.read_csv(file_path)

# Display all rows 
pd.set_option('display.max_columns', None)

# Show the dataframe
copd_df.head()

                    State&County Total_Population  Levels_COPD  Levels_Smokers
0                Graham, Arizona           38,837          6.6            17.4
1  Prince of Wales-Hyder, Alaska            6,203          7.9            25.6
2               Conecuh, Alabama           12,067          9.4            25.1
3               Nevada, Arkansas            8,252          8.5            23.0
4             Tehama, California           65,084          7.2            16.6