In [1]:
%load_ext sql

In [2]:
import sqlalchemy
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
engine = sqlalchemy.create_engine('postgresql://postgres:Lunex!@localhost:5433/COPD_Project')

In [4]:
%sql $engine.url

### Coal

In [5]:
# Create the coal dataframe
file_path = "./Resources/processed_Coal_Mines.csv"
coal_df = pd.read_csv(file_path)
coal_df.head()

,State_County,State,County,Surface_Mines,Underground_Mines
0,"Alabama, Walker",Alabama,Walker,7.0,2.0
1,"Alabama, Jefferson",Alabama,Jefferson,7.0,3.0
2,"Alabama, Tuscaloosa",Alabama,Tuscaloosa,4.0,1.0
3,"West Virginia, Nicholas",West Virginia,Nicholas,4.0,1.0
4,"Alabama, De Kalb",Alabama,De Kalb,1.0,0.0

In [6]:
coal_df = coal_df.set_index(['State_County','State', 'County'])
coal_df.head()

,,,Surface_Mines,Underground_Mines
State_County,State,County,,
"Alabama, Walker",Alabama,Walker,7.0,2.0
"Alabama, Jefferson",Alabama,Jefferson,7.0,3.0
"Alabama, Tuscaloosa",Alabama,Tuscaloosa,4.0,1.0
"West Virginia, Nicholas",West Virginia,Nicholas,4.0,1.0
"Alabama, De Kalb",Alabama,De Kalb,1.0,0.0

In [ ]:
# Push coal df to db
coal_df.to_sql('coal_mines', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
# create coal df from db 
coal_sql_df = pd.read_sql_query("SELECT * from coal_mines", engine)
coal_sql_df.head()

In [ ]:
# using sql commands to create df
%sql SELECT * FROM coal_mines

### Air Quality

In [7]:
# Create the air_quality dataframe
file_path = "./Resources/processed_Decade_Air_Quality.csv"
air_quality_df = pd.read_csv(file_path)
air_quality_df.head()

,State_County,State,County,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days
0,"Alabama, Baldwin",Alabama,Baldwin,523.0,455.0,66.0,2.0,0.0,0.0,0.0
1,"Alabama, Clay",Alabama,Clay,226.0,194.0,32.0,0.0,0.0,0.0,0.0
2,"Alabama, Colbert",Alabama,Colbert,586.0,472.0,114.0,0.0,0.0,0.0,0.0
3,"Alabama, DeKalb",Alabama,DeKalb,724.0,635.0,89.0,0.0,0.0,0.0,0.0
4,"Alabama, Elmore",Alabama,Elmore,472.0,436.0,36.0,0.0,0.0,0.0,0.0

In [8]:
air_quality_df = air_quality_df.set_index(['State_County','State', 'County'])
air_quality_df.head()

,,,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,Hazardous_Days
State_County,State,County,,,,,,,
"Alabama, Baldwin",Alabama,Baldwin,523.0,455.0,66.0,2.0,0.0,0.0,0.0
"Alabama, Clay",Alabama,Clay,226.0,194.0,32.0,0.0,0.0,0.0,0.0
"Alabama, Colbert",Alabama,Colbert,586.0,472.0,114.0,0.0,0.0,0.0,0.0
"Alabama, DeKalb",Alabama,DeKalb,724.0,635.0,89.0,0.0,0.0,0.0,0.0
"Alabama, Elmore",Alabama,Elmore,472.0,436.0,36.0,0.0,0.0,0.0,0.0

In [ ]:
# Push air quality df to db
air_quality_df.to_sql('air_quality_data', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
# create air quality df from SQL db
sql_air_quality_df = pd.read_sql_query("SELECT * from air_quality_data", engine)
sql_air_quality_df.head()

In [ ]:
%sql SELECT * FROM air_quality_data

### PLACES DF

In [9]:
# Create the census dataframe
file_path = "./Resources/processed_PLACES_COPD.csv"
places_df = pd.read_csv(file_path)
places_df.head()

,State_County,State,County,Levels_Smokers,Levels_COPD
0,"Iowa, Cass",Iowa,Cass,19.3,8.3
1,"Iowa, Monona",Iowa,Monona,18.5,8.3
2,"Alaska, Dillingham",Alaska,Dillingham,31.1,8.9
3,"Colorado, Custer",Colorado,Custer,13.8,7.5
4,"Alaska, Ketchikan Gateway",Alaska,Ketchikan Gateway,19.4,6.6

In [10]:
places_df = places_df.set_index(['State_County','State', 'County'])
places_df.head()

,,,Levels_Smokers,Levels_COPD
State_County,State,County,,
"Iowa, Cass",Iowa,Cass,19.3,8.3
"Iowa, Monona",Iowa,Monona,18.5,8.3
"Alaska, Dillingham",Alaska,Dillingham,31.1,8.9
"Colorado, Custer",Colorado,Custer,13.8,7.5
"Alaska, Ketchikan Gateway",Alaska,Ketchikan Gateway,19.4,6.6

In [ ]:
# Push air quality df to db
places_df.to_sql('places_data', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
# create places_data df from SQL db
places_sql_df = pd.read_sql_query("SELECT * from places_data", engine)
places_sql_df.head()

### Census

In [11]:
# Create the census dataframe
file_path = "./Resources/processed_census_data.csv"
census_df = pd.read_csv(file_path)
census_df.head()

,State_County,State,County,PERC_TOT_MALE_0,PERC_TOT_FEMALE_0,PERC_WA_MALE_0,PERC_WA_FEMALE_0,PERC_BA_MALE_0,PERC_BA_FEMALE_0,PERC_IA_MALE_0,...,PERC_HWAC_MALE_18,PERC_HWAC_FEMALE_18,PERC_HBAC_MALE_18,PERC_HBAC_FEMALE_18,PERC_HIAC_MALE_18,PERC_HIAC_FEMALE_18,PERC_HAAC_MALE_18,PERC_HAAC_FEMALE_18,PERC_HNAC_MALE_18,PERC_HNAC_FEMALE_18
0,"Alabama, Autauga",Alabama,Autauga,48.492008,51.507992,37.369561,38.892767,9.373714,10.739408,0.216578,...,0.747863,1.282051,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
1,"Alabama, Baldwin",Alabama,Baldwin,48.490373,51.509627,42.471129,44.969852,4.249353,4.527536,0.404508,...,0.427350,0.899685,0.0,0.000000,0.0,0.022492,0.0,0.0,0.000000,0.0
2,"Alabama, Barbour",Alabama,Barbour,52.920684,47.079316,25.881066,23.272300,25.565098,22.664668,0.417241,...,0.639659,0.426439,0.0,0.213220,0.0,0.213220,0.0,0.0,0.000000,0.0
3,"Alabama, Bibb",Alabama,Bibb,53.268733,46.731267,39.144414,37.621684,13.132982,8.136108,0.236671,...,1.028278,0.000000,0.0,0.514139,0.0,0.000000,0.0,0.0,0.000000,0.0
4,"Alabama, Blount",Alabama,Blount,49.237367,50.762633,47.137966,48.687442,0.892332,0.798949,0.332031,...,1.818182,0.545455,0.0,0.000000,0.0,0.000000,0.0,0.0,0.090909,0.0

In [ ]:
# # Remove 'County' from string/Columns containing the word "County"
# census_df['State_County'] = census_df['State_County'].str.rstrip('County')
# census_df.head()

In [ ]:
census_df.shape

In [ ]:
# Show all columns as list
# Dataframe show all columns sorted list
len(census_df.columns)

In [ ]:
print(census_df.info())

# Creating different dataframes for age groups 0-18 (so that they fit in db)
## - Start by setting first three columns as index

In [12]:
census_df = census_df.set_index(['State_County','State', 'County'])
census_df.head()

,,,PERC_TOT_MALE_0,PERC_TOT_FEMALE_0,PERC_WA_MALE_0,PERC_WA_FEMALE_0,PERC_BA_MALE_0,PERC_BA_FEMALE_0,PERC_IA_MALE_0,PERC_IA_FEMALE_0,PERC_AA_MALE_0,PERC_AA_FEMALE_0,...,PERC_HWAC_MALE_18,PERC_HWAC_FEMALE_18,PERC_HBAC_MALE_18,PERC_HBAC_FEMALE_18,PERC_HIAC_MALE_18,PERC_HIAC_FEMALE_18,PERC_HAAC_MALE_18,PERC_HAAC_FEMALE_18,PERC_HNAC_MALE_18,PERC_HNAC_FEMALE_18
State_County,State,County,,,,,,,,,,,,,,,,,,,,,
"Alabama, Autauga",Alabama,Autauga,48.492008,51.507992,37.369561,38.892767,9.373714,10.739408,0.216578,0.259536,0.511912,0.662264,...,0.747863,1.282051,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0
"Alabama, Baldwin",Alabama,Baldwin,48.490373,51.509627,42.471129,44.969852,4.249353,4.527536,0.404508,0.375839,0.417499,0.648647,...,0.427350,0.899685,0.0,0.000000,0.0,0.022492,0.0,0.0,0.000000,0.0
"Alabama, Barbour",Alabama,Barbour,52.920684,47.079316,25.881066,23.272300,25.565098,22.664668,0.417241,0.271409,0.222798,0.247104,...,0.639659,0.426439,0.0,0.213220,0.0,0.213220,0.0,0.0,0.000000,0.0
"Alabama, Bibb",Alabama,Bibb,53.268733,46.731267,39.144414,37.621684,13.132982,8.136108,0.236671,0.223274,0.102706,0.111637,...,1.028278,0.000000,0.0,0.514139,0.0,0.000000,0.0,0.0,0.000000,0.0
"Alabama, Blount",Alabama,Blount,49.237367,50.762633,47.137966,48.687442,0.892332,0.798949,0.332031,0.307820,0.146993,0.172933,...,1.818182,0.545455,0.0,0.000000,0.0,0.000000,0.0,0.0,0.090909,0.0

In [ ]:
# group 0
df0 = census_df.iloc[:,0:72]
df0

In [ ]:
# group 1
df1 = census_df.iloc[:, 72:144]
df1

In [ ]:
# group2
df2 = census_df.iloc[:, 144:216]
df2

In [ ]:
#group 3
df3 = census_df.iloc[:, 216:288]
df3
# 72

In [ ]:
# group 4
df4 = census_df.iloc[:, 288:360]
df4
# 72

In [ ]:
# group5
df5 = census_df.iloc[:, 360:432]
df5
# 72

In [ ]:
# group6
df6 = census_df.iloc[:, 432:504]
df6
# 72

In [ ]:
# group7
df7 = census_df.iloc[:, 504:576]
df7
# 72

In [ ]:
# group8
df8 = census_df.iloc[:, 576:648]
df8
# 72

In [ ]:
# group9
df9 = census_df.iloc[:, 648:720]
df9
# 72

In [ ]:
# group10
df10 = census_df.iloc[:, 720:792]
df10
# 72

In [ ]:
# group11
df11 = census_df.iloc[:, 792:864]
df11
# 72

In [ ]:
# group12
df12 = census_df.iloc[:, 864:936]
df12
# 72

In [ ]:
# group13
df13 = census_df.iloc[:, 936:1008]
df13
# 72

In [ ]:
# group14
df14 = census_df.iloc[:, 1008:1080]
df14
# 72

In [ ]:
# group15
df15 = census_df.iloc[:, 1080:1152]
df15
# 72

In [ ]:
# group16
df16 = census_df.iloc[:, 1152:1224]
df16
# 72

In [ ]:
# group17
df17 = census_df.iloc[:, 1224:1296]
df17
# 72

In [ ]:
# group18
df18 = census_df.iloc[:, 1296:1368]
df18
# 72

In [ ]:
# # Create dataframe
# data=pd.DataFrame({
#     'book_id':[12345,12346,12347],
#     'title':['Python Programming','Learn MySQL','Data Science Cookbook'],
#     'price':[29,23,27]
# })

# data

# # Insert whole DataFrame into MySQL
# data.to_sql('book_details', con = engine, if_exists = 'append', chunksize = 1000)

# Pushing new df (age group) into db

In [ ]:
df0.to_sql('census_data_0', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df1.to_sql('census_data_1', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df2.to_sql('census_data_2', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df3.to_sql('census_data_3', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df4.to_sql('census_data_4', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df5.to_sql('census_data_5', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df6.to_sql('census_data_6', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df7.to_sql('census_data_7', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df8.to_sql('census_data_8', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df9.to_sql('census_data_9', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df10.to_sql('census_data_10', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df11.to_sql('census_data_11', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df12.to_sql('census_data_12', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df13.to_sql('census_data_13', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df14.to_sql('census_data_14', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df15.to_sql('census_data_15', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df16.to_sql('census_data_16', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df17.to_sql('census_data_17', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df18.to_sql('census_data_18', con = engine, if_exists = 'append', chunksize = 1000)

# Example of creating age-group dataframe directly from Database

In [ ]:
sql_census_data_0 = pd.read_sql_query("SELECT * from census_data_0", engine)
sql_census_data_0.head()

# ML Table

In [13]:
new_df = pd.concat([coal_df, places_df, air_quality_df, census_df], axis=1)
new_df.head(10)

,,,Surface_Mines,Underground_Mines,Levels_Smokers,Levels_COPD,Days_with_AQI,Good_Days,Moderate_Days,Unhealthy_for_Sensitive_Groups_Days,Unhealthy_Days,Very_Unhealthy_Days,...,PERC_HWAC_MALE_18,PERC_HWAC_FEMALE_18,PERC_HBAC_MALE_18,PERC_HBAC_FEMALE_18,PERC_HIAC_MALE_18,PERC_HIAC_FEMALE_18,PERC_HAAC_MALE_18,PERC_HAAC_FEMALE_18,PERC_HNAC_MALE_18,PERC_HNAC_FEMALE_18
State_County,State,County,,,,,,,,,,,,,,,,,,,,,
"Alabama, Walker",Alabama,Walker,7.0,2.0,24.8,11.7,NaN,NaN,NaN,NaN,NaN,NaN,...,0.662879,0.473485,0.000000,0.189394,0.000000,0.000000,0.0,0.000000,0.0,0.000000
"Alabama, Jefferson",Alabama,Jefferson,7.0,3.0,17.2,7.7,730.0,287.0,424.0,19.0,0.0,0.0,...,0.320656,0.686055,0.014914,0.059657,0.029828,0.022371,0.0,0.014914,0.0,0.000000
"Alabama, Tuscaloosa",Alabama,Tuscaloosa,4.0,1.0,19.3,7.3,570.0,470.0,99.0,1.0,0.0,0.0,...,0.534928,1.164254,0.000000,0.062933,0.000000,0.000000,0.0,0.031466,0.0,0.000000
"West Virginia, Nicholas",West Virginia,Nicholas,4.0,1.0,24.7,12.7,NaN,NaN,NaN,NaN,NaN,NaN,...,0.379507,0.189753,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
"Alabama, De Kalb",Alabama,De Kalb,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Alabama, Shelby",Alabama,Shelby,1.0,0.0,15.0,6.3,527.0,431.0,90.0,6.0,0.0,0.0,...,1.024931,1.301939,0.000000,0.055402,0.000000,0.055402,0.0,0.027701,0.0,0.055402
"Colorado, Moffat",Colorado,Moffat,2.0,0.0,18.5,6.8,NaN,NaN,NaN,NaN,NaN,NaN,...,2.136752,7.264957,0.000000,0.000000,0.000000,0.427350,0.0,0.427350,0.0,0.000000
"Colorado, Rio Blanco",Colorado,Rio Blanco,0.0,0.0,16.7,6.3,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Colorado, Gunnison",Colorado,Gunnison,0.0,0.0,13.1,4.5,722.0,563.0,156.0,3.0,0.0,0.0,...,0.000000,3.468208,0.000000,0.000000,0.578035,0.000000,0.0,0.000000,0.0,0.000000
"Colorado, Routt",Colorado,Routt,0.0,0.0,13.6,5.0,706.0,684.0,21.0,1.0,0.0,0.0,...,1.234568,0.925926,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000