In [1]:
%load_ext sql

In [2]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = sqlalchemy.create_engine('postgresql://postgres:Lunex!@localhost:5433/COPD_Project')

In [4]:
%sql $engine.url

In [5]:
# Create the dataframe
file_path = "./Resources/processed_Coal_Mines.csv"
coal_df = pd.read_csv(file_path)
coal_df.head()

,State_County,State,County,Surface_Mines,Underground_Mines
0,"Pennsylvania, Clearfield",Alabama,Walker,22,2.0
1,"Pennsylvania, Schuylkill",Alabama,Jefferson,22,5.0
2,"Pennsylvania, Somerset",Alabama,Jefferson,13,5.0
3,"West Virginia, Mcdowell",Alabama,Tuscaloosa,13,12.0
4,"Kentucky, Pike",Alabama,Jefferson,13,14.0

In [7]:
coal_df.to_sql('coal_mines', con = engine, if_exists = 'append', chunksize = 1000)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "level_0" of relation "coal_mines" does not exist
LINE 1: INSERT INTO coal_mines (level_0, index, "State_County", "Sta...
                                ^

[SQL: INSERT INTO coal_mines (level_0, index, "State_County", "State", "County", "Surface_Mines", "Underground_Mines") VALUES (%(level_0)s, %(index)s, %(State_County)s, %(State)s, %(County)s, %(Surface_Mines)s, %(Underground_Mines)s)]
[parameters: ({'level_0': 0, 'index': 0, 'State_County': 'Pennsylvania, Clearfield', 'State': 'Alabama', 'County': 'Walker', 'Surface_Mines': 22, 'Underground_Mines': 2.0}, {'level_0': 1, 'index': 1, 'State_County': 'Pennsylvania, Schuylkill', 'State': 'Alabama', 'County': 'Jefferson', 'Surface_Mines': 22, 'Underground_Mines': 5.0}, {'level_0': 2, 'index': 2, 'State_County': 'Pennsylvania, Somerset', 'State': 'Alabama', 'County': 'Jefferson', 'Surface_Mines': 13, 'Underground_Mines': 5.0}, {'level_0': 3, 'index': 3, 'State_County': 'West Virginia, Mcdowell', 'State': 'Alabama', 'County': 'Tuscaloosa', 'Surface_Mines': 13, 'Underground_Mines': 12.0}, {'level_0': 4, 'index': 4, 'State_County': 'Kentucky, Pike', 'State': 'Alabama', 'County': 'Jefferson', 'Surface_Mines': 13, 'Underground_Mines': 14.0}, {'level_0': 5, 'index': 5, 'State_County': 'Wyoming, Campbell', 'State': 'Alabama', 'County': 'Walker', 'Surface_Mines': 11, 'Underground_Mines': 0.0}, {'level_0': 6, 'index': 6, 'State_County': 'Pennsylvania, Northumberland', 'State': 'Alabama', 'County': 'Tuscaloosa', 'Surface_Mines': 10, 'Underground_Mines': 3.0}, {'level_0': 7, 'index': 7, 'State_County': 'West Virginia, Logan', 'State': 'Alabama', 'County': 'Jefferson', 'Surface_Mines': 9, 'Underground_Mines': 12.0}  ... displaying 10 of 106 total bound parameter sets ...  {'level_0': 104, 'index': 104, 'State_County': 'Oklahoma, Okmulgee', 'State': 'Kentucky', 'County': 'Perry', 'Surface_Mines': 1, 'Underground_Mines': 0.0}, {'level_0': 105, 'index': 105, 'State_County': 'Alaska, Denali', 'State': 'Kentucky', 'County': 'Perry', 'Surface_Mines': 1, 'Underground_Mines': 0.0})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [6]:
coal_df = pd.read_sql_query("SELECT * from coal_mines", engine)
coal_df.head()

,index,State_County,State,County,Surface_Mines,Underground_Mines
0,0,"Pennsylvania, Clearfield",Alabama,Walker,22,2.0
1,1,"Pennsylvania, Schuylkill",Alabama,Jefferson,22,5.0
2,2,"Pennsylvania, Somerset",Alabama,Jefferson,13,5.0
3,3,"West Virginia, Mcdowell",Alabama,Tuscaloosa,13,12.0
4,4,"Kentucky, Pike",Alabama,Jefferson,13,14.0

In [ ]:
%sql SELECT * FROM coal_mines

In [ ]:
# # Create dataframe
# data=pd.DataFrame({
#     'book_id':[12345,12346,12347],
#     'title':['Python Programming','Learn MySQL','Data Science Cookbook'],
#     'price':[29,23,27]
# })

# data

In [ ]:
# # Insert whole DataFrame into MySQL
# data.to_sql('book_details', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
# Create the dataframe
file_path = "./Resources/processed_Decade_Air_Quality.csv"
air_quality_df = pd.read_csv(file_path)
air_quality_df.head()

In [ ]:
air_quality_df.to_sql('air_quality_data', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
air_quality_df = pd.read_sql_query("SELECT * from air_quality_data", engine)
air_quality_df.head()

In [ ]:
%sql SELECT * FROM air_quality_data

In [ ]:
# Create the dataframe
file_path = "./Resources/processed_census_data.csv"
census_df = pd.read_csv(file_path)
census_df.head()

In [ ]:
census_df.shape

In [ ]:
census_df.to_sql('census_data', con = engine, if_exists = 'append', chunksize = 1000)