# Processing PLACES_2019 for ML and DataViz

In [1]:
# Dependencies
import pandas as pd

In [2]:
# This dataset is for 2019 but is from the 2021 release of PLACES
# https://chronicdata.cdc.gov/500-Cities-Places/PLACES-Local-Data-for-Better-Health-County-Data-20/swc5-untb/data

# Load in PLACES dataset filtered for COPD
file_path = "Resources/PLACES_COPD.csv"
copd_df = pd.read_csv(file_path)

# Display all rows 
pd.set_option('display.max_columns', None)

# Show the dataframe
copd_df.head(119)

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
0,2019,IA,Iowa,Cass,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,8.3,NaN,NaN,7.0,9.8,"12,836",19029,HLTHOUT,COPD,CrdPrv,COPD,POINT (-94.92791359 41.33146007)
1,2019,IA,Iowa,Monona,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,8.3,NaN,NaN,7.0,9.5,"8,615",19133,HLTHOUT,COPD,CrdPrv,COPD,POINT (-95.95997093 42.05236881)
2,2019,AZ,Arizona,Graham,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Age-adjusted prevalence,6.6,NaN,NaN,6.0,7.3,"38,837",4009,HLTHOUT,COPD,AgeAdjPrv,COPD,POINT (-109.8871087 32.93306592)
3,2019,AK,Alaska,Prince of Wales-Hyder,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Age-adjusted prevalence,7.9,NaN,NaN,7.2,8.6,"6,203",2198,HLTHOUT,COPD,AgeAdjPrv,COPD,POINT (-132.7096152 55.50495667)
4,2019,AK,Alaska,Dillingham,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,8.9,NaN,NaN,7.7,10.0,"4,916",2070,HLTHOUT,COPD,CrdPrv,COPD,POINT (-158.2125392 59.79999618)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2019,CO,Colorado,Fremont,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Age-adjusted prevalence,6.2,NaN,NaN,5.4,6.9,"47,839",8043,HLTHOUT,COPD,AgeAdjPrv,COPD,POINT (-105.4397863 38.47308193)
115,2019,AR,Arkansas,Calhoun,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,10.7,NaN,NaN,9.4,12.1,"5,189",5013,HLTHOUT,COPD,CrdPrv,COPD,POINT (-92.50254644 33.5579242)
116,2019,CO,Colorado,Costilla,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Age-adjusted prevalence,6.1,NaN,NaN,5.4,6.9,"3,887",8023,HLTHOUT,COPD,AgeAdjPrv,COPD,POINT (-105.4282108 37.27777759)
117,2019,AR,Arkansas,Arkansas,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Age-adjusted prevalence,8.8,NaN,NaN,7.8,9.8,"17,486",5001,HLTHOUT,COPD,AgeAdjPrv,COPD,POINT (-91.3748863 34.29096754)
118,2019,AR,Arkansas,Faulkner,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Age-adjusted prevalence,7.6,NaN,NaN,6.6,8.7,"126,007",5045,HLTHOUT,COPD,AgeAdjPrv,COPD,POINT (-92.33175659 35.14730833)

In [3]:
# This dataset is for 2019 but is from the 2021 release of PLACES
# https://chronicdata.cdc.gov/500-Cities-Places/PLACES-Local-Data-for-Better-Health-County-Data-20/swc5-untb/data

# Load in PLACES dataset filtered for current smokers
file_path = "Resources/PLACES_smokers.csv"
smokers_df = pd.read_csv(file_path)

# Display all rows 
pd.set_option('display.max_columns', None)

# Show the dataframe
smokers_df.head()

,Year,StateAbbr,StateDesc,LocationName,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text,Geolocation
0,2019,CA,California,Sierra,BRFSS,Health Risk Behaviors,Current smoking among adults aged >=18 years,%,Crude prevalence,13.8,NaN,NaN,11.9,15.6,"3,005",6091,RISKBEH,CSMOKING,CrdPrv,Current Smoking,POINT (-120.5160862 39.58014381)
1,2019,CO,Colorado,Pitkin,BRFSS,Health Risk Behaviors,Current smoking among adults aged >=18 years,%,Age-adjusted prevalence,11.0,NaN,NaN,8.7,13.4,"17,767",8097,RISKBEH,CSMOKING,AgeAdjPrv,Current Smoking,POINT (-106.9159741 39.21744595)
2,2019,CA,California,San Mateo,BRFSS,Health Risk Behaviors,Current smoking among adults aged >=18 years,%,Crude prevalence,9.2,NaN,NaN,7.8,10.5,"766,573",6081,RISKBEH,CSMOKING,CrdPrv,Current Smoking,POINT (-122.3273639 37.42322968)
3,2019,AL,Alabama,Dale,BRFSS,Health Risk Behaviors,Current smoking among adults aged >=18 years,%,Age-adjusted prevalence,22.0,NaN,NaN,19.4,24.4,"49,172",1045,RISKBEH,CSMOKING,AgeAdjPrv,Current Smoking,POINT (-85.61159073 31.43150889)
4,2019,AR,Arkansas,St. Francis,BRFSS,Health Risk Behaviors,Current smoking among adults aged >=18 years,%,Crude prevalence,24.6,NaN,NaN,22.2,26.8,"24,994",5123,RISKBEH,CSMOKING,CrdPrv,Current Smoking,POINT (-90.74737815 35.02173053)

In [4]:
# View rows and columns of the dataframe
print(copd_df.shape)
print(smokers_df.shape)

(6244, 21)
(6244, 21)

In [5]:
# View unique values for columns
print(copd_df["Data_Value_Footnote"].unique())
print(copd_df["Year"].unique())
print(copd_df["DataSource"].unique())
print(copd_df["Data_Value_Footnote_Symbol"].unique())
print(copd_df["Data_Value_Footnote"].unique())
print(copd_df["CategoryID"].unique())
print(copd_df["MeasureId"].unique())
print(copd_df["DataValueTypeID"].unique())
print(copd_df["Short_Question_Text"].unique())

[nan]
[2019]
['BRFSS']
[nan]
[nan]
['HLTHOUT']
['COPD']
['CrdPrv' 'AgeAdjPrv']
['COPD']

In [6]:
# View all columns
copd_df.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'LocationName', 'DataSource',
       'Category', 'Measure', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Low_Confidence_Limit', 'High_Confidence_Limit', 'TotalPopulation',
       'LocationID', 'CategoryID', 'MeasureId', 'DataValueTypeID',
       'Short_Question_Text', 'Geolocation'],
      dtype='object')

In [7]:
# Make a new column that merges county name ("LocationName") and the State ("StateAbbr")
copd_df["State_County"] = copd_df["StateDesc"].astype(str) +", "+ copd_df['LocationName']

# Make a new column that merges county name ("LocationName") and the State ("StateAbbr")
smokers_df["State_County"] = smokers_df["StateDesc"].astype(str) +", "+ smokers_df['LocationName']

In [8]:
# Remove uninformative columns
copd_df = copd_df.drop(["Data_Value_Footnote", "Year", "DataSource",
                           "Data_Value_Footnote_Symbol", "Data_Value_Footnote",
                           "CategoryID", "MeasureId", "DataValueTypeID",
                           "Short_Question_Text", "Category",
                           "StateAbbr"], axis=1)

smokers_df = smokers_df.drop(["Data_Value_Footnote", "Year", "DataSource",
                           "Data_Value_Footnote_Symbol", "Data_Value_Footnote",
                           "CategoryID", "MeasureId", "DataValueTypeID",
                           "Short_Question_Text", "Category", "LocationName",
                           "StateAbbr", "StateDesc"], axis=1)

In [9]:
# Filter out "Age-adjusted prevalence"
copd_df = copd_df[copd_df.Data_Value_Type != "Age-adjusted prevalence"]
smokers_df = smokers_df[smokers_df.Data_Value_Type != "Age-adjusted prevalence"]

In [10]:
# View copd dataframe
copd_df.head(119)

,StateDesc,LocationName,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,LocationID,Geolocation,State_County
0,Iowa,Cass,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,8.3,7.0,9.8,"12,836",19029,POINT (-94.92791359 41.33146007),"Iowa, Cass"
1,Iowa,Monona,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,8.3,7.0,9.5,"8,615",19133,POINT (-95.95997093 42.05236881),"Iowa, Monona"
4,Alaska,Dillingham,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,8.9,7.7,10.0,"4,916",2070,POINT (-158.2125392 59.79999618),"Alaska, Dillingham"
5,Colorado,Custer,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,7.5,6.1,9.0,"5,068",8027,POINT (-105.3669993 38.10865771),"Colorado, Custer"
6,Alaska,Ketchikan Gateway,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,6.6,5.8,7.5,"13,901",2130,POINT (-130.9352394 55.58863162),"Alaska, Ketchikan Gateway"
...,...,...,...,...,...,...,...,...,...,...,...,...
221,Alabama,Madison,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,6.7,5.7,7.7,"372,909",1089,POINT (-86.5506924 34.7629041),"Alabama, Madison"
222,California,Sutter,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,6.2,5.5,7.0,"96,971",6101,POINT (-121.6945535 39.03443385),"California, Sutter"
225,Colorado,Gunnison,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,4.5,3.8,5.4,"17,462",8051,POINT (-107.0321897 38.66682101),"Colorado, Gunnison"
226,Arizona,Yavapai,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,9.3,7.8,10.9,"235,099",4025,POINT (-112.5546325 34.59993679),"Arizona, Yavapai"
227,California,San Bernardino,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,4.9,4.4,5.4,"2,180,085",6071,POINT (-116.1786779 34.84178102),"California, San Bernardino"

In [11]:
# View smokers dataframe
smokers_df.head(2)

,Measure,Data_Value_Unit,Data_Value_Type,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,LocationID,Geolocation,State_County
0,Current smoking among adults aged >=18 years,%,Crude prevalence,13.8,11.9,15.6,"3,005",6091,POINT (-120.5160862 39.58014381),"California, Sierra"
2,Current smoking among adults aged >=18 years,%,Crude prevalence,9.2,7.8,10.5,"766,573",6081,POINT (-122.3273639 37.42322968),"California, San Mateo"

In [12]:
# Merge copd and smokers dataframes
merged_df = pd.merge(copd_df, smokers_df, on="State_County")
merged_df.head(2)

,StateDesc,LocationName,Measure_x,Data_Value_Unit_x,Data_Value_Type_x,Data_Value_x,Low_Confidence_Limit_x,High_Confidence_Limit_x,TotalPopulation_x,LocationID_x,Geolocation_x,State_County,Measure_y,Data_Value_Unit_y,Data_Value_Type_y,Data_Value_y,Low_Confidence_Limit_y,High_Confidence_Limit_y,TotalPopulation_y,LocationID_y,Geolocation_y
0,Iowa,Cass,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,8.3,7.0,9.8,"12,836",19029,POINT (-94.92791359 41.33146007),"Iowa, Cass",Current smoking among adults aged >=18 years,%,Crude prevalence,19.3,16.4,22.1,"12,836",19029,POINT (-94.92791359 41.33146007)
1,Iowa,Monona,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,8.3,7.0,9.5,"8,615",19133,POINT (-95.95997093 42.05236881),"Iowa, Monona",Current smoking among adults aged >=18 years,%,Crude prevalence,18.5,15.8,20.9,"8,615",19133,POINT (-95.95997093 42.05236881)

In [13]:
# Drop unnecessary columns
merged_df = merged_df.drop(["Measure_x", "Data_Value_Unit_x", "Data_Value_Type_x", "TotalPopulation_x",
                           "LocationID_x", "Geolocation_x", "Measure_y", "Data_Value_Unit_y", 
                            "Data_Value_Type_y", 
                            "Low_Confidence_Limit_y", "High_Confidence_Limit_y", "TotalPopulation_x"], axis=1)

In [14]:
# Check columns were dropped
merged_df.head()

,StateDesc,LocationName,Data_Value_x,Low_Confidence_Limit_x,High_Confidence_Limit_x,State_County,Data_Value_y,TotalPopulation_y,LocationID_y,Geolocation_y
0,Iowa,Cass,8.3,7.0,9.8,"Iowa, Cass",19.3,"12,836",19029,POINT (-94.92791359 41.33146007)
1,Iowa,Monona,8.3,7.0,9.5,"Iowa, Monona",18.5,"8,615",19133,POINT (-95.95997093 42.05236881)
2,Alaska,Dillingham,8.9,7.7,10.0,"Alaska, Dillingham",31.1,"4,916",2070,POINT (-158.2125392 59.79999618)
3,Colorado,Custer,7.5,6.1,9.0,"Colorado, Custer",13.8,"5,068",8027,POINT (-105.3669993 38.10865771)
4,Alaska,Ketchikan Gateway,6.6,5.8,7.5,"Alaska, Ketchikan Gateway",19.4,"13,901",2130,POINT (-130.9352394 55.58863162)

In [15]:
# Sort dataframe by levels of COPD
top10_df = merged_df.sort_values(by=['Data_Value_x'],  ascending=False).head(5)
top10_df

,StateDesc,LocationName,Data_Value_x,Low_Confidence_Limit_x,High_Confidence_Limit_x,State_County,Data_Value_y,TotalPopulation_y,LocationID_y,Geolocation_y
3020,West Virginia,McDowell,18.2,16.1,20.2,"West Virginia, McDowell",31.9,"17,624",54047,POINT (-81.65398301 37.37831053)
1179,Kentucky,Bell,17.4,15.3,19.6,"Kentucky, Bell",32.3,"26,032",21013,POINT (-83.67371026 36.7310214)
1097,Kentucky,Lee,17.4,15.1,19.6,"Kentucky, Lee",35.4,"7,403",21129,POINT (-83.71567753 37.59439368)
997,Kentucky,Wolfe,17.3,15.2,19.6,"Kentucky, Wolfe",32.6,"7,157",21237,POINT (-83.49340584 37.73915782)
1105,Kentucky,Harlan,16.9,14.6,19.3,"Kentucky, Harlan",31.0,"26,010",21095,POINT (-83.21787827 36.85671097)

In [16]:
top10_df["State_County"].tolist()

['West Virginia, McDowell',
 'Kentucky, Bell',
 'Kentucky, Lee',
 'Kentucky, Wolfe',
 'Kentucky, Harlan']

In [17]:
merged_df.columns.tolist()

['StateDesc',
 'LocationName',
 'Data_Value_x',
 'Low_Confidence_Limit_x',
 'High_Confidence_Limit_x',
 'State_County',
 'Data_Value_y',
 'TotalPopulation_y',
 'LocationID_y',
 'Geolocation_y']

In [18]:
# Working on renaming columns to something more digestable.
dict = {'TotalPopulation_y': "Total_Population",
        'Data_Value_x' :'Levels_COPD',
        'Low_Confidence_Limit_x': "Low CL COPD",
        'High_Confidence_Limit_x': "High CL COPD",
        'Data_Value_y': 'Levels_Smokers',
        'TotalPopulation_y': 'Total_Population',
        'LocationID_y': 'Location_ID',
        'Geolocation_y': 'Geolocation'
}
 
# call rename () method
merged_df.rename(columns=dict,
          inplace=True)

# View dataframe
merged_df.head()

,StateDesc,LocationName,Levels_COPD,Low CL COPD,High CL COPD,State_County,Levels_Smokers,Total_Population,Location_ID,Geolocation
0,Iowa,Cass,8.3,7.0,9.8,"Iowa, Cass",19.3,"12,836",19029,POINT (-94.92791359 41.33146007)
1,Iowa,Monona,8.3,7.0,9.5,"Iowa, Monona",18.5,"8,615",19133,POINT (-95.95997093 42.05236881)
2,Alaska,Dillingham,8.9,7.7,10.0,"Alaska, Dillingham",31.1,"4,916",2070,POINT (-158.2125392 59.79999618)
3,Colorado,Custer,7.5,6.1,9.0,"Colorado, Custer",13.8,"5,068",8027,POINT (-105.3669993 38.10865771)
4,Alaska,Ketchikan Gateway,6.6,5.8,7.5,"Alaska, Ketchikan Gateway",19.4,"13,901",2130,POINT (-130.9352394 55.58863162)

In [20]:
# Create dataframe for later data analysis and exploration
explore_df = merged_df[["State_County", "StateDesc", "LocationName", "Levels_Smokers", "Levels_COPD",
                       "Low CL COPD", "High CL COPD"]]
explore_df.head(119)

# Export the dataframe to csv
explore_df.to_csv('./Resources/explore_ML_results.csv', index=False)

In [21]:
# Export explore_df
# Export the dataframe to csv
merged_df.to_csv('./Resources/explore_PLACES_COPD.csv', index=False)

In [22]:
# For ML Model
# Reorder the columns
merged_df = merged_df[["State_County", "StateDesc", "LocationName", "Levels_Smokers", "Levels_COPD"]]

# View the dataframe
merged_df.head()

,State_County,StateDesc,LocationName,Levels_Smokers,Levels_COPD
0,"Iowa, Cass",Iowa,Cass,19.3,8.3
1,"Iowa, Monona",Iowa,Monona,18.5,8.3
2,"Alaska, Dillingham",Alaska,Dillingham,31.1,8.9
3,"Colorado, Custer",Colorado,Custer,13.8,7.5
4,"Alaska, Ketchikan Gateway",Alaska,Ketchikan Gateway,19.4,6.6

In [23]:
# Rename columns
merged_df.columns = ["State_County", "State", "County", "Levels_Smokers", "Levels_COPD"]
merged_df.head(119)

,State_County,State,County,Levels_Smokers,Levels_COPD
0,"Iowa, Cass",Iowa,Cass,19.3,8.3
1,"Iowa, Monona",Iowa,Monona,18.5,8.3
2,"Alaska, Dillingham",Alaska,Dillingham,31.1,8.9
3,"Colorado, Custer",Colorado,Custer,13.8,7.5
4,"Alaska, Ketchikan Gateway",Alaska,Ketchikan Gateway,19.4,6.6
...,...,...,...,...,...
114,"Alabama, Madison",Alabama,Madison,15.7,6.7
115,"California, Sutter",California,Sutter,14.4,6.2
116,"Colorado, Gunnison",Colorado,Gunnison,13.1,4.5
117,"Arizona, Yavapai",Arizona,Yavapai,15.5,9.3
118,"California, San Bernardino",California,San Bernardino,13.3,4.9

In [24]:
# # For DataViz
# # Reorder the columns
# merged_df = merged_df[["StateDesc", "LocationName", "Location_ID", "State_County", "Geolocation",
#                        "Levels_Smokers", "Levels_COPD"]]

# # View the dataframe
# merged_df.head()

In [25]:
# merged_df.loc[merged_df['State_County'] == 'Aleutians West, Alaska']

In [26]:
# Check the datatypes
merged_df.dtypes

State_County       object
State              object
County             object
Levels_Smokers    float64
Levels_COPD       float64
dtype: object

In [27]:
# Export the dataframe to csv
merged_df.to_csv('./Resources/processed_PLACES_COPD.csv', index=False)